/* Google fonts */

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto/static/Roboto-Regular.ttf");
}

@font-face {
  font-style: italic;
  font-family: "Roboto";
  src: url("../fonts/Roboto/static/Roboto-Italic.ttf");
}

@font-face {
  font-weight: bold;
  font-family: "Roboto";
  src: url("../fonts/Roboto/static/Roboto-Bold.ttf");
}

@font-face {
  font-weight: 100;
  font-family: "Roboto";
  src: url("../fonts/Roboto/static/Roboto-Light.ttf");
}

@font-face {
  font-weight: 500;
  font-family: "Roboto";
  src: url("../fonts/Roboto/static/Roboto-Medium.ttf");
}

@font-face {
  font-weight: 500;
  font-style: italic;
  font-family: "Roboto";
  src: url("../fonts/Roboto/static/Roboto-MediumItalic.ttf");
}

@font-face {
  font-weight: bold;
  font-style: italic;
  font-family: "Roboto";
  src: url("../fonts/Roboto/static/Roboto-BoldItalic.ttf");
}

/* Core styles */

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

a {
  transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
}

.container {
  width: 1140px;
  margin: 0 auto;
}

.to-uppercase {
  text-transform: uppercase;
}

.clearfix {
  clear: both;
}

.blur-line {
  top: -2px;
  width: 80px;
  height: 4px;
  filter: blur(4px);
  position: relative;
  border-radius: 4px;
  margin-left: 0.32rem;
  display: inline-block;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-filter: blur(4px);
  -webkit-border-radius: 4px;
  background-color: rgba(237, 35, 159, 0.6);
}

.button {
  border: none;
  cursor: pointer;
  font-weight: 500;
  color: #ffffff;
  font-size: 0.87rem;
  border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -moz-border-radius: 5px;
  padding: 1.25rem 2.5rem;
  -webkit-border-radius: 5px;
  background: linear-gradient(to right, #1345e6 0%, #ed239f 51%, #1345e6 100%);
  background-size: 200% auto;
  transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
}

.button:hover {
  background-position: right center;
}

.section-subtitle {
  font-weight: 500;
  color: #797979;
  letter-spacing: 2px;
  margin-bottom: 0.625rem;
  text-transform: uppercase;
}

.section-title {
  font-weight: 700;
  color: #05364d;
  font-size: 2.62rem;
  margin-top: 0.32rem;
  text-transform: capitalize;
}

/* Main header styles */

.main-header {
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  position: fixed;
  background-color: white;
  box-shadow: 0px 3px 16px 0px rgba(0, 0, 0, 0.1);
}

.main-header .container {
  display: flex;
  align-items: center;
}

.main-header__brand-logo {
  width: 118px;
}

.main-navigation__item {
  padding: 0.625rem;
  display: inline-block;
}

.main-navigation__item-path {
  font-weight: 500;
  color: #05364d;
  font-size: 0.75rem;
  text-decoration: none;
  text-transform: uppercase;
}

.main-navigation__item-path:hover {
  color: #efb6df;
}

.main-navigation__item-path.active {
  color: #efb6df;
}

/* Footer section styles */

.footer {
  padding: 100px 0px;
  margin-top: 50px;
  text-align: center;
  background-color: #021017;
}

.footer__brand img {
  width: 128px;
}

.footer__navigation-item {
  display: inline-block;
  padding: 0 10px;
}

.footer__navigation-items {
  margin-bottom: 50px;
}

.footer__navigation-item a {
  color: white;
  text-decoration: none;
}

.footer__socials {
  list-style: none;
}

.footer__social {
  display: inline-block;
  width: 45px;
  height: 45px;
  line-height: 45px;
  text-align: center;
  background-color: #ffff;
  border-radius: 36px;
  -webkit-border-radius: 36px;
  -moz-border-radius: 36px;
  -ms-border-radius: 36px;
  -o-border-radius: 36px;
  color: #05364d;
  font-size: 1rem;
  margin-right: 12px;
}

.footer__social:hover {
  background-image: linear-gradient(90deg, #1345e6 0%, #ed239f 100%);
}

.footer__social:hover i {
  color: white;
}

.footer__social a {
  color: #021017;
}

.footer__text {
  color: #797979;
}

@media only screen and (max-width: 991px) {
  /* Main header */
  .main-header {
    padding: 20px 0px;
  }

  /* Navigation menu */
  .main-navigation {
    display: none;
  }

  /* Footer */

  .footer__navigation {
    display: none;
  }
}

@media only screen and (max-width: 767px) {
  .container {
    width: 96%;
  }
}
